/****************
 * html
 ****************/

@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

body {
  font-family: 'Nanum Gothic', sans-serif;
}

.myeongjo {
  font-family: 'Nanum Myeongjo', sans-serif;
}

#alba-title, #poet-title {
  font-family: 'Nanum Myeongjo', sans-serif;
  /*font-family: 'Nanum Gothic', sans-serif;*/
  font-size: 10vw;
  line-height: 10vw;
  font-weight: normal;
  color: #ff4200;
  margin: 0;
}

.saying:after {
  color: #f9da03;
}

.splash {
  width: 90%;
}

.content-wrapper {
  top: 80%;
}

.splash-container {
  height: 80%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.home-menu {
  padding: 15px 10% 15px 10%;
  background-color: #181818;
  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
  transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.top-nav-collapse {
  padding: 8px 10% 8px 10%;
  background-color: rgba(0,0,0,0.9);
}

.intro {
  display: table;
  width: 100%;
  height: 100%;
  color: #fff;
}
.intro-bg-filter {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*background: rgba(0,0,0,0.6);*/
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2NkYGA4A8RwwAgVOAsVMcYpANcCAL12BTX+FvNLAAAAAElFTkSuQmCC) repeat;
}
.intro-bg-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.intro-body {
  display: table-cell;
  vertical-align: middle;
}

.intro-text {
  padding-top: 0px;
  font-weight: 700;
  font-size: 2.0em;
  text-shadow: 0 0 5px #000;
}

.intro-text-sub {
  color: #ccc;
  font-weight: 100;
  font-size: 1.2em;
  text-shadow: 0 0 5px #000;
}

.pure-menu-heading {
  text-transform: none !important;
}



.button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}

p.carpedm a {
  font-size: 1.4em;
  color: #00de1a;
  margin: 10px 0;
  text-transform: none !important;
  text-decoration: none !important;
}

article p {
  color: #34495e;
}

.ml {
  height: 232px;
}

.poet {
  border-top: thin double #EBEBEB;
  font-family: 'Nanum Myeongjo', sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  background: #fff;
  width: 100%;
  padding: 24px;
  margin-bottom: 24px;
  box-shadow: 0 4px 4px rgba(0,0,0,.20);
  border-radius: 2px;
  color: #333;
}

h3 {
  color: #999;
  font-family: 'Source Sans Pro', serif;
  font-weight: 400;
  margin-top: 1em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.375em;
  font-size: 0.8em;
  line-height: 1.5em;
}

.word-input {
  width: 80% !important;
  margin: 0px 30px 30px 30px;
}

h1, h2 {
  letter-spacing: 0.1em;
}

.white {
  color: white;
  font-weight: normal;
}

.content-head-ribbon {
  line-height: 1.4em;
}

.poet-footer {
  text-align: right;
  margin-bottom: 30px;
}

.like {
  margin-right: 20px;
}

.title p {
  color: rgb(240, 240, 240);
}
