{% extends "base.html" %}

{% block content %}
<div class="splash-container">
  <div class="intro-bg">
    <!--<div class="intro-bg-img" style="background-image: url('{{ url_for('static', filename='img/bg.jpg') }}')"></div>-->
    <div class="intro-bg-img" style="background-color: #fbfff1"></div>
  </div>
  <div class="splash">
    <h1 id="poet-title"></h1>
    <br>
    <br>
    <div class="fb-like" style="height:23px; margin-top: 15px;" data-href="http://pail.unist.ac.kr/carpedm20/poet/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    <p class="carpedm">
    <a class="myeongjo" href="{{ url_for('poet_best', index=1) }}" target="_blank">인기 시집 보기</a><br/>
    </p>
  </div>
</div>

<div class="content-wrapper poet-wrapper">
  <div class="ribbon l-box-lrg pure-g" style="background-color: rgba(24, 24, 24, 0.9)">
    <div class="container pure-l-u-1-4" style="text-align: center;">
      <h1 class="content-head content-head-ribbon">
        <p class="myeongjo" style="display:inline;">시인 뉴럴</p>은 54,023개의 시를 읽고 배운 인공지능입니다.
      </h1>
      <h2 class="white">
        현재까지 {{ max_count }}개의 시를 만들었습니다.
      </h2>
      <hr style="opacity: 0.5;">
      <div class="l-box">
        <h2 class="content-head-ribbon" style="text-align: center; letter-spacing: 0.1em;">어떤 시를 만들고 싶은가요?</h2>
        <form class="pure-form">
          <input type="text" class="word-input" name="term" placeholder="시의 첫 단어를 입력하세요">
          <div style="position: relative; width: 100%;">
            <button id="submit-btn" type="submit" class="pure-button pure-button-primary button-large">시 만들기</button>
            <div id="spinner" class="sk-spinner sk-spinner-wave">
              <div class="sk-rect1"></div>
              <div class="sk-rect2"></div>
              <div class="sk-rect3"></div>
              <div class="sk-rect4"></div>
              <div class="sk-rect5"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="content content-intro pure-g">
    <div class="container pure-u-xl-1-2 pure-u-md-3-5 pure-u-sm-1-1 pure-u-1-1">
      {% autoescape false %}
      {% for poet in poets[:-1] %}
        <div class="poet">
          <h3>{{ poet.date.strftime('%Y-%m-%d %H:%M:%S') }}</h3>
          {% if poet.text|length < 200 %}
          <div style="text-align: right;">
          {% else %}
          <div >
          {% endif %}
            <h2><a href="{{ url_for('poet_one', index=poet.index) }}">{{ poet.head }}</a></h2>
            {{ poet.text }}
            <div class="poet-footer">
              <a class="like" id="{{ poet.index }}" href="#" onclick="return false;"><i class="fa fa-heart"></i> 좋아요 {{ poet.like }}</a>
              <a href="" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('http://pail.unist.ac.kr{{ url_for('poet_one', index=poet.index) }}'), 'facebook-share-dialog', 'width=626,height=436');return false;"><i class="fa fa-share"></i> 공유하기</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <article id="next-article" class="page next content-hidden">
    <div class="big-image" style="background-image: url({{ url_for('static', filename='img/'+footer) }}.jpg);">
      <div class="inner">
        <div class="fader">
          <div class="text myeongjo">
            {% if poets[-1].index != 0 %}
              <a class="goto-next">계속 읽기</a>
              <h1 class="title">{{ poets[-1].title }}</h1>
              <h2 class="description">{{ poets[-1].short }}</h2>
            {% else %}
              <a class="goto-next">마지막 시 입니다</a>
              <h1 class="title">시 새로 만들기</h1>
              <h2 class="description"></h2>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </article>
  {% endautoescape %}
</div>

<script>
document.getElementById('next-article').onclick = function() {
  {% if poets[-1].index != 0 %}
    window.location.href = "{{ url_for(action, index=next_idx) }}";
  {% else %}
    window.location.href = "{{ url_for('poet') }}";
  {% endif %}
};
</script>

{% endblock %}
