
<meta name="keywords" content="시인 뉴럴,머신러닝,인공지능,시팔이" />
<meta name="description" content="인공지능 시팔이" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:title" content="시인 뉴럴: {{ poets[0].title }}" />
<meta property="og:url" content="http://pail.unist.ac.kr{{ request.path }}"/>
<meta property="og:image" content="https://raw.githubusercontent.com/carpedm20/poet-neural/master/static/img/logo.png" />
<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">

<!--[if lte IE 8]>
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
  
<![endif]-->
<!--[if gt IE 8]><!-->
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
<!--<![endif]-->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

<link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

