
<meta name="keywords" content="뉴럴 심심이,머신러닝,인공지능,심심이" />
<meta name="description" content="메신저 대화를 읽고 배워 대화가 가능한 인공지능입니다." />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:title" content="뉴럴 심심이" />
<meta property="og:url" content="http://pail.unist.ac.kr/carpedm20/simsim/"/>
<meta property="og:image" content="https://raw.githubusercontent.com/carpedm20/poet-neural/master/static/img/alba.png" />
<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">

<!--[if lte IE 8]>
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
  
<![endif]-->
<!--[if gt IE 8]><!-->
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
<!--<![endif]-->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

<link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='simsim_style.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

